<a href="https://colab.research.google.com/github/sonG1031/pythonOnline/blob/main/20210914_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = (1,2,3)
print(type(a))

<class 'tuple'>

In [ ]:
b = (1)
print(type(b))

<class 'int'>

In [ ]:
 c = (1,)
 print(type(c))

<class 'tuple'>

In [ ]:
a = (1, 2, 3)
print(a[1])
print(type(a[1]))
print(a[2:])

2
<class 'int'>
(3,)

In [ ]:
d = (1,2)
e = (3, 4, 5)
f = d + e
print(f)
g = e * 3
print(g)

(1, 2, 3, 4, 5)
(3, 4, 5, 3, 4, 5, 3, 4, 5)

In [ ]:
a = [2, 4, 6, 8, 10, 12, 14]
b = (1, 2, 3, 4, 5)
print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [ ]:
name, age = ('song', 17)
print(name, age)
print(type(name))
print(type(age))

song 17
<class 'str'>
<class 'int'>

In [ ]:
c = {1,2,3,3,34, 3,3,3,3,3,3,3,3,3,3, 1,2}
print(c)
print(type(c))
c.add(11)
print(c)
c.remove(34)
print(c)
c.update({9, 99, 999})
print(c)
c.clear()
print(c)

{1, 2, 3, 34}
<class 'set'>
{1, 2, 3, 34, 11}
{1, 2, 3, 11}
{1, 2, 3, 99, 999, 9, 11}
set()

In [ ]:
d = [1]
e = (1,)
f = {1}
print(type(d))
print(type(e))
print(type(f))

<class 'list'>
<class 'tuple'>
<class 'set'>