<a href="https://colab.research.google.com/github/sonG1031/pythonOnline/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
- 반복문의 이해 및 활용(for)
- range 함수 이해

### **for 반복문**
- 리스트, 문자열 등 순회를 하면서 값을 처리할 때 사용
- i는 매번 수행될 때마다 a 리스트 안의 값으로 순차적으로 변경된다.
- 모든 a안의  값이 수행되면 for문의 블록이 종료된다.

In [4]:
a = [1, 2, 3, 4, 5] #리스트

for i in a:
  print(i, i*2)
print("최종 i값 : " , i)

1 2
2 4
3 6
4 8
5 10
최종 i값 :  5

In [5]:
#문자열의 아이템 출력하기

for x in "Hello comnet A!":
  print(x)

H
e
l
l
o

c
o
m
n
e
t

A
!

In [7]:
# a 리스트 안의 수가 짝수의 경우 2로 나누고,
# 홀수의 경우 2로 곱한 수를 출력하시오

a = [1, 10, 7, 29, 18] #짝수와 홀수

for i in a:
  if i % 2 == 0: # 짝수
    print(i//2)
  else: # 홀수
    print(i * 2)

2
5
14
58
9

In [19]:
# 첫줄에 테스트 케이스가 주어지고,
# 두번째 줄부터 나오는 수를 입력받아
# 테스트 케이스만큼 각 수를 더하는 문제
nums = int(input())

for _ in range(nums):
    A, B = input().split()
    A = int(A)
    B = int(B)
    print(A + B)

5
1 2
3
3 6
9
9 10
19
6 7
13
23 1
24

### **break**
  - 특정 조건을 만족할 떄, 블록을 빠져나오기 위해서 사용

In [21]:
a = [1, 10, 7, 29, 18]

for i in a:
  if i > 20:
    break
  print(i)

1
10
7

## **continue**
- 해당 아이템을 건너 뛰고 싶을 떄 사용

In [23]:
a = [3,9,7,29,18]

for i in a:
  if i>5 and i<20:
    continue
  print(i)

3
29

In [32]:
# a 리스트가 주어졌을 때,
# 짝수를 만나면 2를 곱한 수를 출력하고,
# 홀수를 만나면 넘어가고,
# 0을 만났을 때 종료되는 프로그램을 작성하시오.

a = [3, 2, 5, 10, 23, 12, 3, 4, 0, 2, 4]

for i in a:
  if i == 0:
    break
  elif i % 2 == 0:
    print(i * 2)
  else:
    continue

4
20
24
8

### **range 함수**
- 리스트 혹은 튜플을 쉽게 만들 수 있는 내장함수
- 주어진 값에 따라 다양한 결과를 반환
```python
range(10)  => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10) => [2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10, 3) => [2, 5, 8]
```

In [38]:
list(range(10))
list(range(2,10))
list(range(2, 10, 3))

[2, 5, 8]

#### **구구단 출력하기**
- 2단부터 9단까지 
- 각 단은 1부터 9까지 곱하도록

>- 2 * 1 = 2
>- 2* 2 = 4
>- .....
>- 2* 9 = 18
> -총 9단까지 출력

In [39]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81