<a href="https://colab.research.google.com/github/sonG1031/pythonOnline/blob/main/%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 일반적인 함수

In [ ]:
def add(a, b):
  result = a + b
  return result # result를 반환

In [ ]:
a = add(3, 4)
print(a)

7

**입력값과 결과값이 있는 함수의 사용법** <br>
> 결과값을 받을 변수 = 함수이름(입력변수 : 인수, 입력변수 : 인수)

# 입력값이 없는 함수

In [ ]:
def say():
  return 'Hi'

In [ ]:
a = say()
print(a)

Hi

**입력값이 없고 결과값만 있는 함수**
> 결과값을 받을 변수 = 함수이름()

# 결과값이 없는 함수
> return이 없다.

In [ ]:
def add(a, b):
  print('%d, %d의 합은 %d입니다.' % (a, b, a+b))

In [ ]:
a = add(3, 4)

3, 4의 합은 7입니다.

**결과값이 없는 함수**
> 함수이름(입력인수1, 입력인수2)

In [ ]:
print(a)

None

# 매개변수 저장하여 호출하기

In [ ]:
def add(a, b):
  return a + b

In [ ]:
result = add(a = 3, b = 7) # default 기본값
print(result)

10

In [ ]:
result = add(b = 5, a = 4)
print(result)

9

# 입력값이 몇 개가 될지 모를때?


def 함수이름(*매개변수):
  <표현식>

**여러 개의 입력값을 받는 함수 만들기**
* add_many(1, 2), add_many(1, 2, 3), add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
def add_many(*args):
  result = 0
  for i in args:
    result += i
  return result

In [ ]:
result = add_many(1, 2, 3)
print(result)

6

In [ ]:
result = add_many(1, 2, 3, 4, 5, 6)
print(result)

21

In [ ]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [ ]:
def add_mul(choice, *args):
  if choice == 'add':
    result = 0
    for i in args:
      result += i
  elif choice == 'mul':
    result = 1
    for i in args:
      result *= i
  return result

In [ ]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [ ]:
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

120

**키워드 파라미터 kwargs**
> 매개변수 앞에 **를 붙인다.

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

In [ ]:
print_kwargs(a = 1)

{'a': 1}

In [ ]:
print_kwargs(name = 'foo', age = 3)

{'name': 'foo', 'age': 3}

`**kwargs` 처럼 매개변수 이름 앞에 `**`를 붙이면 매개변수 kwargs는 딕셔너리가 되고 key = value 형태의 결과값이 그 딕셔너리에 저장된다.

# 함수의 결과값은 언제나 하나이다.

In [ ]:
def add_mul(a , b):
  return a + b, a*b

In [ ]:
result = add_mul(3, 4)
print(result)

(7, 12)

In [ ]:
result[0]

7

In [ ]:
result1, result2 = add_mul(3, 4)
print(result1, result2)

7 12

**[ return의 다른 쓰임새 ]**

특별한 상황에서 함수를 빠져나가야 할 때 return을 단독으로 사용한다.

In [ ]:
def say_nick(nick):
  if nick == '바보':
    return
  print('나의 별명은 %s입니다.' % nick)

In [ ]:
say_nick('천재')
say_nick('바보') # 출력되지 않음

나의 별명은 천재입니다.

# 매개변수에 초기값 미리 설정하기

In [ ]:
def say_myself(name, old, man = True): # default값을 정해줄 매개변수는 꼭 뒤에 적어야함.
  print('나의 이름은 %s입니다.' % name)
  print('나의 나의는 %d살 입니다.' % old)
  if man: # default : True
    print('남자 입니다.')
  else:
    print('여자 입니다.')

In [ ]:
say_myself('민섭', 17)

나의 이름은 민섭입니다.
나의 나의는 17살 입니다.
남자 입니다.

In [ ]:
say_myself('여인', 17, False)

나의 이름은 여인입니다.
나의 나의는 17살 입니다.
여자 입니다.

# 함수 안에서 선언한 변수의 효력 범위
* 지역변수, 전역변수
* 이름 공간(name space)

In [ ]:
a = 1
def vartest(a):
  a = a + 1
  return a

In [ ]:
print(vartest(a))

2

In [ ]:
print(a)

1